# dependencies
/expenses-app/node_modules
/todo-app/node_modules
/node_modules

# testing
/coverage

# production
/expenses-app/build
/todo-app/build
/build

# misc
.DS_Store
.env
npm-debug.log
/.vscode
/expenses-app/.vscode
/todo-app/.vscode
/expenses-app/.env
/todo-app/.vscode
/expenses-app/npm-debug.log
/todo-app/npm-debug.log
*.swp
*.swo
